@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  color:#220022;
  background:#EFCFE1
}

#header {
  width:100%;
  background:#302A31;
  padding: 10px;
  position:relative;
  left:-8px;
  top:-8px;
}

h1 {
  color:#EFCFE1;
  font-family:"Ubuntu", sans-serif;
}
h3 {
  color:#AA88AF;
  font-family:"Ubuntu", sans-serif;
}
h4 {
  font-family:"Ubuntu", sans-serif;
}
h5 {
  font-family:"Ubuntu", sans-serif;
}

#text {
  position:relative;
  top:-43px;
  width:75%;
  float:left;
}

#sidebar {
  position:relative;
  top:-43px;
  padding:10px;
  width:20%;
  height:750px;
  float:right;
  background:#652b4b;
  position:relative;
  left:8px;
  
  text-align:left;
}

#navbar {
  padding:0px 10px 0px 10px;
  position:relative;
  left:-8px;
  top:-27px;
  width:100%;
  background:#5E405E
}

.navbarlinks A:link {
  color:#EFCFE1;
  font-family:"Ubuntu", sans-serif;
  font-size:15px;
}

.navbarlinks A:visited {
  color:#FFFFFF;
  font-family:"Ubuntu", sans-serif;
  font-size:15px;
}

.navbarlinks A:hover {
  font-family:"Ubuntu", sans-serif;
  font-size:15px;
  color:#FF33FF;
  background:#302A31;
  padding:1px;
}

.sidebarlinks A:link {
  font-family:"Ubuntu", sans-serif;
  font-size:14px;
  color:#EFCFE1;
}

.sidebarlinks A:visited {
  font-family:"Ubuntu", sans-serif;
  font-size:14px;
  color:#FFFFFF;
}

.sidebarlinks A:hover {
  font-family:"Ubuntu", sans-serif;
  font-size:14px;
  background:#302A31;
  color:#FF33FF;
}

p.stext {
  color:#CCAACF;
}

a{
  text-decoration:none;
}

p {
  font-family:"Droid Sans", sans-serif;
}

hr {
  border-color:#AA88AF;
}