body {
  background:#CFAFC1
}

#header {
  width:100%;
  background:#202A31;
}

#text {
  width:75%;
  float:left;
}

#sidebar {
  width:25%;
  height:750px;
  float:right;
  background:#652b2b;
}

#navbar {
  width:100%;
  background:#5E405E
}

p {
}